body {
  background: repeating-linear-gradient(
      150deg,
      rgba(255, 0, 0, 0.2) 40px,
      rgba(255, 153, 0, 0.2) 80px,
      rgba(255, 255, 0, 0.2) 120px,
      rgba(0, 255, 0, 0.2) 160px,
      rgba(0, 0, 255, 0.2) 200px,
      rgba(75, 0, 130, 0.2) 240px,
      rgba(238, 130, 238, 0.3) 280px,
      rgba(255, 0, 0, 0.2) 300px
    ),
    repeating-linear-gradient(
      -200deg,
      rgba(255, 0, 0, 0.3) 30px,
      rgba(255, 153, 0, 0.2) 60px,
      rgba(255, 255, 0, 0.2) 90px,
      rgba(0, 0, 255, 0.2) 150px,
      rgba(75, 0, 130, 0.3) 180px,
      rgba(238, 130, 238, 0.3) 210px,
      rgba(255, 0, 0, 0.3) 230px
    );
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}

.Dictionary {
  text-align: center;
  margin: 30px;
}

.Dictionary h1 {
  color: white;
  margin: 20px;
  font-size: 56px;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}

.Dictionary input {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  padding: 10px;
  background: scroll;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.Dictionary input:hover {
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.8);
}

.Dictionary h2 {
  font-size: 46px;
}

.Dictionary h3 {
  font-size: 28px;
}

.Dictionary section {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  margin-top: 10px;
  border-radius: 4px;
  transition: ease-in 300ms;
}

.Dictionary section:hover {
  background: rgba(255, 255, 255, 0.9);
}

.Dictionary label {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
}

.Meaning .definition {
  line-height: 1.4;
}

.Meaning .example {
  font-style: italic;
  line-height: 1.2;
  margin: 5px 0;
  font-weight: 200;
}

.Phonetic audio {
  width: 300px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  margin: 5px 0;
}

.Phonetic audio:hover {
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.8);
}

.Synonyms {
  margin: 0 0 15px;
  padding: 0;
}

.Synonyms li {
  display: inline-flex;
  padding-right: 10px;
}

.Photos img {
  border-radius: 4px !important;
  margin: 10px auto;
}
