@media (max-width: 600px) {
  .Dictionary h1 {
    font-size: 36px !important;
    margin: 5px !important;
  }

  .Dictionary {
    margin: 15px !important;
  }

  .Dictionary section {
    padding: 10px !important;
    margin-left: -5px !important;
    font-size: 14px !important;
    line-height: 1 !important;
  }

  .Dictionary .col-4,
  .col-8 {
    padding: 0 10px !important;
  }

  .Dictionary input {
    width: 100% !important;
    height: 30px !important;
  }

  section.Photos {
    padding: 0 !important;
  }

  .Photos img {
    margin: 5px auto !important;
  }

  .Phonetic audio {
    width: 100% !important;
    height: 30px !important;
    margin: 5px 0;
  }

  .Dictionary h2 {
    font-size: 24px !important;
    margin: 0 !important;
  }

  .Dictionary h3 {
    font-size: 18px !important;
    margin: 0 !important;
  }

  .Dictionary footer {
    margin-top: 5px !important;
    font-size: 10px !important;
  }
}

@media (max-width: 300px) {
  .Dictionary section {
    font-size: 12px !important;
  }

  .Dictionary .col-4,
  .col-8 {
    padding: 0 5px !important;
  }
}

body {
  background: repeating-linear-gradient(
      150deg,
      rgba(255, 0, 0, 0.2) 40px,
      rgba(255, 153, 0, 0.1) 80px,
      rgba(255, 255, 0, 0.2) 120px,
      rgba(0, 255, 0, 0.2) 160px,
      rgba(0, 0, 255, 0.1) 200px,
      rgba(75, 0, 130, 0.2) 240px,
      rgba(238, 130, 238, 0.2) 280px,
      rgba(255, 0, 0, 0.2) 300px
    ),
    repeating-linear-gradient(
      -200deg,
      rgba(255, 0, 0, 0.3) 30px,
      rgba(255, 153, 0, 0.2) 60px,
      rgba(255, 255, 0, 0.1) 90px,
      rgba(0, 0, 255, 0.2) 150px,
      rgba(75, 0, 130, 0.3) 180px,
      rgba(238, 130, 238, 0.3) 210px,
      rgba(255, 0, 0, 0.3) 230px
    );
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}

.Dictionary {
  text-align: center;
  margin-left: 25px !important;
}

.Dictionary h1 {
  color: rgb(246, 244, 251);
  margin: 10px !important;
  font-size: 56px;
  font-weight: 800;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}

.Dictionary input {
  display: block;
  flex: content !important;
  margin: 5px auto;
  border-radius: 20px;
  width: 340px;
  height: 40px;
  padding: 10px;
  background: scroll;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.Dictionary input:hover {
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.8);
}

.Dictionary h2 {
  font-size: 46px;
  text-transform: capitalize;
}

.Dictionary h3 {
  font-size: 28px;
}

.Dictionary section {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  transition: ease-in 300ms;
}

.Dictionary section:hover {
  background: rgba(255, 255, 255, 0.9);
}

.Dictionary .col-8,
.col-4 {
  height: 670px;
  overflow: auto;
}

.Dictionary label {
  font-weight: 400;
  font-size: 20px;
}

.Meaning .definition {
  line-height: 1.4;
  text-align: justify;
}

.Meaning .example {
  font-style: italic;
  line-height: 1.2;
  margin-top: 5px;
  font-weight: 300;
}

.Phonetic audio {
  width: 340px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  margin: 5px 0;
}

.Phonetic audio:hover {
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.8);
}

.Synonyms {
  margin: 0 0 15px;
  line-height: 1.2;
  font-weight: 600;
  padding: 0;
  text-align: justify;
  text-transform: capitalize;
}

.Synonyms li {
  display: inline-flex;
  padding-right: 10px;
}

section.Photos {
  padding: 0;
  width: 100% !important;
}

.Photos img {
  margin: 15px auto;
}

.Dictionary footer {
  margin-top: 10px;
  font-size: 12px;
}
